html{
  font-size: 20px;
}
h1{
  font-family: "Josefin Sans",sans-serif;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 3px 3px 5px grey;
}
.skyblue{
  color:skyblue;
}
.pink{
  color:rgb(255, 192, 203)
}
h2{
  text-align: center;
  
}
p{
  text-align: center;
}
.parent p{
  font-weight: bold;
}
body{
  font-family: "Josefin Sans", sans-serif;
}
